{% include '_partials/header.html' %}
{% block content %}
    <div class="card-group">
        {% for coche in coches %}
            <div class="container mt-5">
                <h1 class="text-center mb-5">Lista de coches</h1>
                <div class="row">
                    {% for coche in coches %}
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h5 class="card-title">{{ coche.marca }} {{ coche.modelo }}</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Matrícula: {{ coche.matricula }}</p>
                                    <p class="card-text">Marca: {{ coche.marca }}</p>
                                    <p class="card-text">Modelo: {{ coche.modelo }}</p>
                                    <p class="card-text">Tarifa diaria: {{ coche.tarifa_diaria }} €</p>
                                    <p>
                                        <a href="{% url 'editar_coche' coche.matricula %}"
                                           class="btn btn-primary btn-sm">Editar</a>
                                        <a href="{% url 'borrar_coche' coche.matricula %}"
                                           class="btn btn-danger btn-sm">Eliminar</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}