{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
<header>
    {% include '_partials/header.html' %}
    {% load static %}
</header>
<div class="container">
    <h1>Índice del Concesionario de Coches</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h3>1. Introducción</h3>
            <p class="lead">La empresa líder en alquiler de vehículos en todo el país. Aquí en Alquiler de Coches,
                entendemos las necesidades de movilidad de nuestros clientes y es por eso que ofrecemos una amplia gama
                de
                vehículos de alquiler para satisfacer sus necesidades. Ya sea que necesite un coche para un viaje de
                negocios, un viaje en familia o simplemente para disfrutar de un día libre, tenemos el vehículo perfecto
                para usted.</p></div>
        <div class="col-sm-6">
            <img src="{% static 'vehicity/img/coche1.jpg' %}" class="img-fluid">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h3>2. Historia del Concesionario</h3>
            <p class="lead">Nuestra flota de vehículos incluye una amplia variedad de modelos, desde pequeños coches
                compactos hasta vehículos más grandes y espaciosos para viajes en familia. Todos nuestros vehículos son
                de
                alta calidad y están bien mantenidos, para garantizar la seguridad y comodidad de nuestros clientes.
                Además,
                todos nuestros vehículos vienen con una amplia gama de características, como aire acondicionado, GPS y
                sistemas de seguridad avanzados, para que pueda viajar con comodidad y tranquilidad.</p></div>
        <div class="col-sm-6">
            <img src="{% static 'vehicity/img/coche2.jpg' %}" class="img-fluid">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h3>3. Selección de Coches</h3>
            <p class="lead">En Alquiler de Coches, nos esforzamos por brindar un servicio excepcional a nuestros
                clientes.
                Nuestro equipo de atención al cliente está altamente capacitado y es amable y eficiente, para ayudarlo
                con
                cualquier problema o preocupación que pueda tener durante su alquiler. Además, ofrecemos descuentos y
                promociones atractivas a nuestros clientes para fomentar la lealtad y mantenerlos interesados
            </p></div>
        <div class="col-sm-6">
            <img src="{% static 'vehicity/img/coche3.jpg' %}" class="img-fluid">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h3>Ubicación estratégica</h3>
            <p class="lead">Nuestra ubicación estratégica es accesible tanto para los clientes como para los empleados,
                y
                está situada
                cerca de puntos de interés populares, como aeropuertos, estaciones de tren y hoteles. Esto significa que
                puede recoger su vehículo de alquiler con facilidad y comenzar su viaje sin retrasos innecesarios.</p>
        </div>
        <div class="col-sm-6">
            <img src="{% static 'vehicity/img/coche4.jpg' %}" class="img-fluid">
        </div>
    </div>
</div>
</body>
</html>