<body>
<header>
    {% include '_partials/header.html' %}
</header>
<div class="container">
    <h1 class="text-center my-5">Alquiler de Coches</h1>
    <p>
        Nosotros somos una empresa líder en el alquiler de coches a
        clientes. Ofrecemos una amplia gama de vehículos de alta calidad y de
        las mejores marcas, para que nuestros clientes puedan disfrutar de un
        viaje cómodo y seguro. Además, nos esforzamos por ofrecer un servicio
        excepcional y una atención personalizada a cada uno de nuestros
        clientes.
    </p>
    <p>
        Nuestro objetivo es garantizar que todas las necesidades y expectativas
        de nuestros clientes se cumplan, proporcionándoles un servicio de
        alquiler de coches fácil, rápido y eficiente. Para lograr esto,
        hemos creado un sistema en línea seguro y eficiente que permite a
        nuestros clientes reservar un coche en línea en pocos minutos, desde
        la comodidad de su hogar o desde cualquier lugar con acceso a internet.
    </p>
    <p>
        Además, ofrecemos una amplia selección de paquetes de alquiler de
        coches que incluyen diferentes opciones de seguro, así como opciones
        adicionales como GPS, asientos infantiles y más. También ofrecemos
        tarifas competitivas y una política de precios transparente, para que
        nuestros clientes puedan elegir el paquete de alquiler de coches que
        mejor se adapte a sus necesidades y presupuesto.
    </p>
    <p>
        En cuanto a nuestra flota de vehículos, contamos con coches de alta
        calidad </p>
</div>
